<!--home page html code rendered by handlebars-->


<!--code for navbar--> 
<nav class = "navbar navbar-default">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <a class = "navbar-brand" href = "/">Mongo Scraper</a>
        </div>
        <ul class = "nav navbar-nav">
            <li class = "active"><a href = "/">Home</a></li>
            <li class = "save"><a href = "/saved">Saved Articles</a></li>
            <li><a class = "btn btn-primary scrape-new">Scrape New Articles</a></li>
        </ul>
    </div>
</nav>

<!--code for jumbotron, image, and headers-->

    <div class = "jumbotron text-center">
        <div class = "overlay">
        </div>
        <div class = "background-image">
        </div>
        <div class = "caption">
            <h1>Mongo Scraper</h1>
            <h4>New York Times Edition</h4>
        </div>
    </div>


<!--code for container displaying scraped articles-->
<div class = "container-fluid">
    <div class = "articleContainer">

    </div>
</div>

<!--links to scripts used in the code-->
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<!--<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>-->
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src = "../../assets/javascript/index.js"></script>
