<!--saved article html rendered by handlebars-->


<!--nav bar code-->
<nav class = "navbar navbar-default">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <a class = "navbar-brand" href = "/">Saved Articles</a>
        </div>
        <ul class = "nav navbar-nav">
            <li><a href = "/">Home</a></li>
            <li class = "active"><a href = "/saved">Saved Articles</a></li>
        </ul>
    </div>
</nav>

<!--code for jumbotron, image and headers-->

    <div class = "jumbotron text-center">
        <div class = "overlay"></div>
        <div class = "background-image"></div>
        <div class = "caption">
            <h1>Saved Articles</h1>
            <h4>Articles You Have Saved</h4>
        </div>
    </div>

<!--container for displaying saved articles-->
<div class = "container-fluid">
    <div class = "articleContainer">

    </div>
</div>

<!--various scripts used in the code-->
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<!--<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>-->
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src = "../../assets/javascript/saved.js"></script>